.main{
    max-width:900px;
    margin-top:80px;
    margin-bottom:90px;
    padding-left:25px;
    padding-right:25px;
    margin-left:auto;
    margin-right:auto;
}
.Page-Title{
    font-weight:650;
    font-size:28px;
    margin-bottom:25px;
}
.orders-grid{
    display:grid;
    grid-template-columns: 1fr;
    row-gap:50px;
}
.order-header{
    background-color:rgb(240,242,242);
    border:1px solid rgb(213,217,217);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 25px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;

}
.order-left-header-section{
    display:flex;
    flex-shrink:0;
   /* Normally, all items shrink proportionally to fit.
    But this part has flex-shrink: 0, so it won’t shrink at all.*/
}
.order-header-text{
    font-weight:500;
}
.order-date,.order-total{
    margin-right:50px;

}
.order-header-right-section{
    flex-shrink:1;
}
@media(max-width:575px){
    .order-header{
        flex-direction:column;
        align-items:start;
        line-height:23px;
        padding:15px;
    }
    .order-left-header-section{
        flex-direction:column;
    }
    .order-header-text{
        margin-right:5px;
    }
    .order-date,.order-total{
        display:grid;
        grid-template-columns:auto 1fr;
       /* auto: The first column takes up just as much space as needed to fit its content.
        1fr: The second column takes up the remaining available space in the container.*/
        margin-right:0;
    }
    .order-header-right-section{
        display:grid;
        grid-template-columns: auto 1fr;
    }

}
.grid-for-details{
    padding:40px 25px;
   /* 40px → Top and Bottom padding
    25px → Left and Right padding*/
    border:1px solid rgb(213,217,217);
    border-top:none;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    display:grid;
    grid-template-columns: 110px 1fr 220px;
    column-gap:35px;/**/
    row-gap:60px;/**/
    align-items:center;

}
@media(max-width:800px){
    .grid-for-details{
        grid-template-columns:1fr;
    }

}



.product-image{
    text-align:centre;
}
.product-image img{
    max-width:110px;
    max-height:110px;
}
.product-name{
    font-weight:700;
    margin-bottom:5px;
}
.delivery-date{
    margin-bottom:3px;
}
.quantity{
    margin-bottom:5px;
}
.BuyAgain-button{
    font-size:15px;
    width:140px;
    height:36px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.Buy-Again-icon{
    width:25px;
    margin-right:15px;
}
.product-tracking{
    align-self:middle;

}
.product-track-button{
    width:100%;
    font-size:15px;
    padding:8px;
}
@media(max-width:800px){
    
}
